$font-normal: opensans, arial, sans-serif;
$color-white: rgb(255, 255, 255);
$color-dark-blue: rgb(29, 38, 49);
$color-gray: rgb(242, 242, 242);
$color-blue: rgb(40, 54, 69);
$color-green: rgb(42, 171, 109);
