.button {
  padding: 18px 0;
  font-family: $font-normal;
  font-size: 18px;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50px;
}

@media (min-width: $tablet-width) {
  .button {
    padding: 18px 49px;
  }
}
