$font-normal: OpenSans, Arial, sans-serif;
$color-font: rgb(40, 54, 69);
$bgc: rgb(255, 255, 255);

.cards {
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  font-family: $font-normal;
  font-size: 14px;
  line-height: 30px;
  color: $color-font;
  background-color: $bgc;
}
