.cards {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  font-family: $font-normal;
  font-size: 14px;
  line-height: 30px;
  color: $color-blue;
  background-color: $color-white;
  box-sizing: border-box;
}

.cards__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards__list--panorama {
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.cards__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: $color-gray;
}

.cards__item--panorama {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: $color-gray;
}

@media (min-width: $tablet-width) {
  .cards {
    width: $tablet-width;
  }

  .cards__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cards__item {
    width: 300px;

    &:nth-child(odd) {
      margin-right: 20px;
    }
  }

  .cards__item--panorama {
    width: 620px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .cards {
    width: 100%;
  }

  .cards__list {
    width: 940px;
    margin: 0 auto;
  }

  .cards__item {
    width: 300px;
    margin-right: 20px;
  }

  .cards__item:nth-child(3n) {
    margin-right: 0;
  }

  .cards__item--panorama {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
