$font-normal: OpenSans, Arial, sans-serif;
$color-main: rgb(40, 54, 69);
$bgc-main: rgb(242, 242, 242);

.page {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $font-normal;
  font-size: 14px;
  line-height: 24px;
  color: $color-main;
  background-color: $bgc-main;
}
