.page-header {
  display: flex;
  flex-direction: column-reverse;
  width: $mobile-width;
  margin: 0 auto;
  font-family: $font-normal;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-blue;
  box-sizing: border-box;
}

.page-header__logo {
  height: 65px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: $tablet-width;
  }

  .page-header__logo {
    height: 110px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 100%;
    flex-direction: row;
  }

  .page-header__wrapper {
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    width: $desktop-width;
    justify-content: space-between;
    box-sizing: border-box;
  }
}
