.popup-send {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  padding-top: 40px;
}

.popup-send__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: $color-black;
}

.popup-send__description {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 11px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  box-sizing: border-box;
}

.popup-send__wrapper {
  width: 320px;
  margin: 0;
  padding: 0;
  padding-top: 48px;
  padding-bottom: 52px;
  text-align: center;
  background-color: $color-gray;
}

.popup-send__close {
  width: 280px;
  margin: 0 auto;
  padding: 17px 0;
  font-weight: bold;
  text-transform: uppercase;
}
