.slider {
  margin: 0 auto;
}

.slider__toggles {
  margin: 0;
  padding: 0;
  text-align: center;
}

.slider__toggle {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0;
  margin-right: 18px;
  padding: 0;
  vertical-align: bottom;
  background-color: $color-gray-light;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.slider__switches {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
